.to-do{
    display: block;
    margin: 1rem;
    
    &__checkbox {
        margin: 0 0.5rem 0 0.5rem;
    }

    &__delete {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        margin: 0 0.5rem 0 0.5rem;
        background-color: #555555;
        color: white;
        border: none;
    }
}